.bg-grey {
    background-color: #ebeaea !important;
}

.ql-container {
    height: 50% !important;
}

.title-border {
    border-bottom: 2px solid #ebeaea;
    width: 100%;
    margin-bottom: 30px;
}

.floating-cup {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.floating-cup img {
    height: 75%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 1rem;
    background-color: #f5f7f7;
    text-align: center;
}

/* @media screen and (min-width: 1200px) {
    .footer {
        margin-left: 300px;
    }
} */

#sidebar {
    width: 300px !important;
    position: fixed !important;
    height: 100vh !important;
    -webkit-overflow-scrolling: touch;
    background-color: #644494 !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1050;
}

.left {
    position: sticky;
    top: 0;
    overflow: auto !important;
    max-height: 70vh;
}

.right {
    position: absolute;
    max-height: 70vh;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .left {
        position: relative !important;
        overflow: auto !important;
        max-height: none;
    }
}

.header {
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    margin-left: 300px;
    background-color: #f5f7f7;
    text-align: center;
    z-index: 100;
}
